.App {
  text-align: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  margin: 10px;
  position: relative;
}

.snake {
  background-color: #5a5a5a;
  border: 1px solid #444;
  background: linear-gradient(135deg, #5a5a5a 0%, #8b966c 100%);
  border-radius: 5px;
}

.snake.head {
  background-color: #4a4a4a;
}

.food {
  background-image: url("./img/redApple.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.scores h1 {
  font-family: "VT323", monospace;
  color: #d8ddca;
}

button {
  font-family: "VT323", monospace;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #d8ddca;
  border: none;
}

button:hover {
  background-color: #abb78a;
}
